{% extends "base.html" %}
{% block title %}Lista de Sistemas{% endblock %}
{% block content %}
    <h3>Sistemas</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Contato</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for sistema in sistemas %}
            <tr>
                <td>{{ sistema.nome }}</td>
                <td>{{ sistema.descricao }}</td>
                <td>{{ sistema.cliente }}</td>
                <td>{{ sistema.contato }}</td>
                <td>{{ sistema.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


