{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h3>{{ title }}</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.complexidade_baixa.label(class="form-label") }}
            {{ form.complexidade_baixa(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.complexidade_media.label(class="form-label") }}
            {{ form.complexidade_media(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.complexidade_alta.label(class="form-label") }}
            {{ form.complexidade_alta(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i>
        </button>
        <a href="{{ url_for('main.tipos_entidade') }}" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i>
        </a>
        
    </form>
{% endblock %}


