{% extends "base.html" %}
{% block title %}Tipos de Entidade{% endblock %}
{% block content %}
    <h3>Tipos de Entidade <a href="{{ url_for('main.create_tipo_entidade') }}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i>
    </a></h3>
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Complexidade Baixa</th>
                <th>Complexidade Média</th>
                <th>Complexidade Alta</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.nome }}</td>
                <td>{{ tipo.descricao }}</td>
                <td>{{ tipo.complexidade_baixa }}</td>
                <td>{{ tipo.complexidade_media }}</td>
                <td>{{ tipo.complexidade_alta }}</td>
                <td>
                    <a href="{{ url_for('main.edit_tipo_entidade', tipo_id=tipo._id) }}" class="btn btn-info">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <form action="{{ url_for('main.delete_tipo_entidade', tipo_id=tipo._id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
